.header {
    height: 200px;
    background-color: #E5E000;
}

.header h1 {
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
}

.image {
    height: 1080px;
    width: 1480px;
    background-image: url(../img/img.svg);
    background-size: cover;
}

.paragraph {
    height: 100px;
    background-color: #E5E000;
    color: white;
    font-size: 50px;
}
.text {
    height: 637px;
    font-family: Helvetica;
    font-size: 50px;
}

.text2 {
    font-family: Helvetica;
    text-align: right;
    font-size: 50px;
    padding: 70px 50px;

}


.footer {
    height: 200px;
    background-color: #E5E000;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: 80px;

}
